@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]:disabled {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
  opacity: 0.6;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type="date"]:disabled::-webkit-calendar-picker-indicator {
  cursor: not-allowed;
  opacity: 0.6;
}
